.industries{
    background-color:#fffef2 ;
}

.get_ready{
    display:flex;
    justify-content: space-between;
    background-color:#fbdc00;
    padding: 16px;
    padding-left: 50px;
    padding-right: 50px;
    align-items: center;
    margin-bottom: 80px;
}
.whatsapp{
    margin-top:10px;
    padding-left:16px;
    min-height: 40px;
    padding-right: 150px;
    font-size: 14px;
    color: #000;
    border: 1px solid #e0e0e0;
    border-radius: 20px;
    
}
.number{
    position:relative;
    z-index:1;
}
.get_start{
    position: absolute;
    background-color: #36bb22;
    color: white;
    padding: 6px 8px;
    border:1px transparent;
    border-radius: 12px;
    top:18px;
    left:235px;
}
.cogoport_name{
    color:#ee3425;
    font-weight: bolder;
    font-size: 20px;

}
.global_platform{
    font-size: 12px;
}

.close_button{
    margin-left: 300px;
    font-size: 20;
    font-weight: bolder;
    color: #ebbe00;
    cursor:pointer;
}
.copyright{
    display: flex;
    justify-content: space-between;
    background-color: #ebbe00;
    padding: 10px 20px;
    font-size: 12px;
    
}
.places{
    display: flex;
    justify-content: space-between;
    background-color: #ebbe00;
    padding: 20px 50px;
    
    
}
.products{
    flex-wrap: wrap;
}
.property{
    margin-bottom: 16px;
}
.services{
    display: flex;
    background-color: #fbdc00;
    justify-content: space-evenly;
    height:730px;
    padding-top:50px;
}

 .subscribe{
    z-index: 1;
    display: flex;
    justify-content: center;
    background-color: #fbdc00;
    margin-top: 100px;
    padding-top:150px;
    position: relative;
}
.circle{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100px;
    background-color: #fff;
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 100%;
    z-index:3;
}

.subscribe_text{
    margin-left: 100px;
    display: flex;
    flex-direction: column;
   
    justify-content: flex-start;
    
}
.subscribe_button_email{
    display: flex;
    margin-top: 20px;
}
.subscribe_email{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding:16px;
    border:1px transparent;
}
.subscribe_button{
    color:white;
    border:1px transparent;
    background-color: #ee3425;
    padding:16px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.blog_buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:50px;
}
.blog_button{
    background-color: #ee3425;
    padding: 8px 30px;
    border-radius: 8px;
    color: white;
    border: 1px transparent;
    
}
.blogs{
    display: flex;
    justify-content: space-evenly;
}
.blog_image{
    width:100%;
    height:auto;
    border-radius: 8px;
}
.blog{
    width: 28%;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0px 2px 6px gray;
    
}
.blog_text{
    padding-top: 30px;
    padding: 30px;
    padding-left:20px;
}
.bar_text{
    color: white;

}
.bar{
    display: flex;
    background-color: #ee3425;
    justify-content: space-between;
    align-items: center;
    padding: 16px 32px;
    margin-left:16px;
    margin-right: 16px;
    border-collapse: collapse;

}
.know_more_button{
    background-color: #fbdc00;
    border-radius: 6px;
    border: 1px solid #fbdc00;
    padding: 8px 12px;
}
.homepage_video{
    z-index: 1;
    position: relative;
    
}
.play_button{
    display: flex;
    cursor: pointer;
    z-index: 3;
    left: 50%;
    bottom:300px;
    position: relative;
}
button{
    cursor:pointer;

}
.get_started_text{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-right: 100px;
    
}
.get_started{
    display: flex;
    padding:50px;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: space-evenly;
}
.get_started_button{
    background-color: #ee3425;
    padding:8px ;
    border-radius: 8px;
    height:40px;
    width:160px;
    color: white;
    border: 1px solid #ee3425;
}
.industries_served{
    display: flex;
}
.stage{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;

}
.steps_one_two,.steps_three_four {
    display:flex;
    flex-direction: column;  
    justify-content: space-between;  
}
.steps{
    width: 300px;
    border-radius: 10px;
    box-shadow:0px 1px 6px gray;
    margin-top: 60px;
    margin-bottom: 60px;
    padding:16px;
}
h6{
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.steps_image{
    align-self: center;
}
.working_bar{
    display: flex;
    justify-content: center;
}
.cargo{
    background-color: #fbdc00;
    width: 200px;
    padding:12px;
    border-radius: 20px;
    margin-right: 50px;
    border:1px solid #fbdc00;
}
.logistics{
    background-color: #e5dfdf;
    width: 200px;
    padding:12px;
    border-radius: 20px;
    border: 1px solid #e5dfdf;
}


.talk{
    font-weight: bold;
    font-size: 12px;
    margin-top: 20px;
}
.alerts{
    background-color: #ee3425;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:10px;
}
.yellow {
    color:yellow;
}
.items{
    margin-right: 6px;
    align-self: center;
}
.navigation_bar{
    
    background-color: #fbdc00;
    display:flex;
    justify-content: space-between;
    padding:10px;
    position: sticky;
    top: 0%;
}
.name{
    flex-grow: 1;
    padding-left:60px;
    padding-right: 60px;
}
.login{
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.items a:hover{
    color:#ee3425;
    background-color: #ee3425;
}
.elements{
    cursor: pointer;
    display:flex;
    flex-grow: 4;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
}
.sign_up{
    margin-left: 10px;
    background-color: #ee3425;
    min-width: 72px;
    height: 36px;
    padding: 4px 16px;
    border-radius: 8px;
    color: white;
    border:1px solid #ee3425
}
.display{
    padding-left: 150px;
    display: flex;
    align-items: center;
   justify-content: space-evenly;
   background: url(https://cdn.cogoport.io/cms-prod/cogo_public/vault/original/home-banner-background-1.webp);
}
.intro{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}
.image{
    flex-grow: 1;
}
h1{
    font-size: 40px;
}
video{
    width: 600px !important;
    height: 400px !important;
    
}
.green{
    background-color: #36bb22;
    color: white;
    padding: 2px 4px;
    border:1px transparent;
    border-radius: 8px;

}
.video{
    height:300px;
}
.cogo_numbers{
    margin-top: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.cogo_number{
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}
.big_size{
    font-size: 40px;
    color: #ee3425;
}
.supply_chain{
    display:flex;
    margin-top:230px;
    background-color: #fffef2;
    justify-content: space-between;
    padding-left: 220px;
    padding-right: 200px;
    padding-top: 100px;
}
h2{
    font-size: 40px;
}
.our_products{
    background-color: #fffef2;
}
.partition1{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-right: 100px;
}
.big_text{
    flex-wrap: wrap;
}
.partition2{
    
    flex-grow:1;
}
h3{
    font-size: 28px;
    text-align: center;
}
.border_logistics, .domestic_logistics, .supply_chain_solution,.financial_services,.trade_solutions{
    display: flex;
    align-items: center;
    margin-left:200px;
    margin-right: 200px;
    margin-bottom: 30px;
}

.box{
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items:center;
    width: 160px;
    height: 140px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 1px 2px;
    text-align: center;
    border: 1.5px solid transparent;
}
.text{
    margin-right: 50px;
    flex-wrap: wrap;
}
h4{
    font-size: 24px;
    width: 300px;
    margin-right: 50px;
}
h5{
    font-size: 16px;
}
.red{
    color:#ee3425;
    font-size: 14px;
    font-weight: bold;
}
body{
    font-family: sans-serif;
}
