.english img{
    width:20px;
    height:20px;
    padding-right: 10px;
    cursor: pointer;
}
.english strong{
    font-size: 15px;
    text-decoration: underline;
}
.english{
    margin-right:30px;
}
.english_and_icons{
    display:flex;
}
.icons{
    display:flex;

}
.icons svg{
    width:16px;
    height:16px;
    cursor: pointer;
    padding-right: 10px;
}
.english{
    display:flex;
    align-items: center;
}
.number{
    display:flex;
}
html, body {
    height:100%;
    width:1300px;
    margin:0;
    padding:0;
    overflow: auto;
}
.alerts img{
    margin-right: 10px;
}
a {
    text-decoration: none;
  }
@media only screen and (min-width: 1300px) {
    html, body {
        height:100%;
        width:100%;
        margin:0;
        padding:0;
        
    }
    .homepage_video{
        width:100%;
        cursor: pointer;
    }
}
.name img{
    width:130px;
    height:50px;
}
.name :hover{
    cursor: pointer;
}
.slider img{
    width:150px;
    height:70px;
    margin-right: 40px;

}

@keyframes animate {

    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}
.slider{
    display:flex;
    padding-top:20px ;
    padding-bottom: 20px;
    margin-bottom: 50px;
    animation: 25s animate infinite linear;
}
.industries_served{
    display: flex;
    justify-content: space-evenly;
}
.industries{
    background-color:#fffef2 ;
}

.get_ready{
    display:flex;
    justify-content: space-between;
    background-color:#fbdc00;
    padding: 16px;
    padding-left: 50px;
    padding-right: 50px;
    align-items: center;
    margin-bottom: 80px;
   
}
.whatsapp_icon{
    width: 22px;
    height: 22px;
    position: absolute;
    top:20px;
    left:10px;
    
}
.number_icon{
    position: absolute;
    top:23px;
    left:80px;
    cursor: pointer;

}
.code{
    padding-left: 40px;
    margin-top:10px;
    min-height: 40px;
    padding-right: 150px;
    font-size: 14px;
    color: #000;
    border: 1px solid #e0e0e0;
    border-radius: 20px;
    outline: none;
}
.product_logistics{
    padding-left: 120px;
}
.whatsapp{
    border: 1px white;
    left:100px;
    position: absolute;
    margin-top:10px;
    padding-left:16px;
    min-height: 40px;
    padding-right: 150px;
    font-size: 14px;
    color: #000;
    border-radius: 20px;
    width:120px;
    outline:none !important;
}

.number{
    position:relative;
    z-index:1;
}
.get_start{
    position: absolute;
    background-color: #36bb22;
    color: white;
    padding: 6px 8px;
    border:1px transparent;
    border-radius: 12px;
    top:18px;
    left:278px;
}
.cogoport_name{
    color:#ee3425;
    font-weight: bolder;
    font-size: 20px;

}
.global_platform{
    font-size: 12px;
}

.close_button{
   margin-left:200px;
    font-size: 20;
    font-weight: bolder;
    color: #ebbe00;
    cursor:pointer;
}
.copyright{
    display: flex;
    justify-content: space-between;
    background-color: #ebbe00;
    padding: 10px 20px;
    font-size: 12px;
    
}
.places{
    display: flex;
    justify-content: space-between;
    background-color: #ebbe00;
    padding: 20px 50px;
    
    
}
.products{
    flex-wrap: wrap;
}
.property{
    margin-bottom: 16px;
    cursor: pointer;

}
.property :hover{
    text-decoration: underline;
    color: #000;
}
  
  .video_mobile{
   display: none;
  }
  
.services{
    display: flex;
    background-color: #fbdc00;
    justify-content: space-evenly;
    height:730px;
    padding-top:50px;
}

 .subscribe{
    z-index: 1;
    display: flex;
    justify-content: center;
    background-color: #fbdc00;
    margin-top: 100px;
    padding-top:150px;
    position: relative;
}
.circle{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100px;
    background-color: #fff;
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 100%;
    z-index:3;
}

.subscribe_text{
    margin-left: 100px;
    display: flex;
    flex-direction: column;
   
    justify-content: flex-start;
    
}
.subscribe_button_email{
    display: flex;
    margin-top: 20px;
}
.subscribe_email{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding:16px;
    border:1px transparent;
}
.subscribe_button{
    color:white;
    border:1px transparent;
    background-color: #ee3425;
    padding:16px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.blog_buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:50px;
}
.blog_button{
    background-color: #ee3425;
    padding: 8px 30px;
    border-radius: 8px;
    color: white;
    border: 1px transparent;
    
}
.blogs{
    display: flex;
    justify-content: space-evenly;
}
.blog_image{
    width:100%;
    height:auto;
    border-radius: 8px;
}
.blog{
    width: 28%;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0px 2px 6px gray;
    
}
.blog_text{
    padding-top: 30px;
    padding: 30px;
    padding-left:20px;
}
.bar_text{
    color: white;

}
.bar{
    display: flex;
    background-color: #ee3425;
    justify-content: space-between;
    align-items: center;
    padding: 16px 32px;
    

}
.know_more_button{
    background-color: #fbdc00;
    border-radius: 6px;
    border: 1px solid #fbdc00;
    padding: 8px 12px;
}
.homepage_video{
    
    z-index: 1;
    position: relative;
}
.play_button{
    display: flex;
    cursor: pointer;
    z-index: 3;
    left: 50%;
    bottom:300px;
    position: relative;
}
button{
    cursor:pointer;

}
.get_started_text{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-right: 100px;
    
}
.get_started{
    display: flex;
    padding:50px;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: space-evenly;
}
.get_started_button{
    background-color: #ee3425;
    padding:8px ;
    border-radius: 8px;
    height:40px;
    width:160px;
    color: white;
    border: 1px solid #ee3425;
}
.industries_served{
    display: flex;
}
.stage{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;

}
.steps_one_two,.steps_three_four {
    display:flex;
    flex-direction: column;  
    justify-content: space-between;  
}
.steps{
    width: 300px;
    border-radius: 10px;
    box-shadow:0px 1px 6px gray;
    margin-top: 60px;
    margin-bottom: 60px;
    padding:16px;
}
h6{
    cursor: pointer;
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.steps_image{
    align-self: center;
}
.working_bar{
    display: flex;
    justify-content: center;
}
.cargo{
    background-color: #fbdc00;
    width: 200px;
    padding:12px;
    border-radius: 20px;
    margin-right: 50px;
    border:1px solid #fbdc00;
}
.logistics{
    background-color: #e5dfdf;
    width: 200px;
    padding:12px;
    border-radius: 20px;
    border: 1px solid #e5dfdf;
}


.talk{
    font-weight: bold;
    font-size: 12px;
    margin-top: 20px;
}
.alerts_text{
    display:flex;
    justify-content: center;
    align-items: center;
}
.alerts{
    background-color: #ee3425;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:10px;
    
}
.yellow {
    color:yellow;
}
.items{
    margin-right: 6px;
    align-self: center;
}
.navigation_bar{
    z-index: 10;
    background-color: #fbdc00;
    display:flex;
    justify-content: space-between;
    padding:10px;
    position: sticky;
    top: 0%;
    height: auto;
   
}
.image_h6{
    display: flex;
    align-items: center;
}
.image_h6 img{
    width:50px;
    height: 50px;
    margin-right: 10px;
}
hr{
    display: hidden;
}
.name{
    flex-grow: 1;
    padding-left:60px;
    padding-right: 60px;
}
.login{
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.items a:hover{
    text-decoration: underline;
}
.elements{
    cursor: pointer;
    display:flex;
    flex-grow: 4;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
}
.elements :hover{
    color:#ee3425;
}
.sign_up{
    margin-left: 10px;
    background-color: #ee3425;
    min-width: 72px;
    height: 36px;
    padding: 4px 16px;
    border-radius: 8px;
    color: white;
    border:1px solid #ee3425
}
.display{
    padding-bottom: 10px;
    padding-left: 150px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #fbdc00;
    
    background-image:url(home-banner-background.png);
    background-position-x: center;
    background-position-y: bottom;
   
}
.intro{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}
.image{
    flex-grow: 1;
    width:auto;
    margin-bottom: -38px;
}
h1{
    font-size: 40px;
}
video{
    width: auto;
    height: 400px !important;
    
}
.green{
    background-color: #36bb22;
    color: white;
    padding: 2px 4px;
    border:1px transparent;
    border-radius: 8px;

}
.video{
    height:300px;
}
.cogo_numbers{
    margin-top: 60px;
    margin-bottom: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.cogo_number{
    
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    flex-wrap: wrap;
}
.big_size{
    font-size: 40px;
    color: #ee3425;
}
.supply_chain{
    display:flex;
    background-color: #fffef2;
    justify-content: space-between;
    padding-left: 220px;
    padding-right: 200px;
    padding-top: 100px;
}
h2{
    font-size: 40px;
}
.our_products{
    margin-top: 100px;
    background-color: #fffef2;
}
.partition1{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-right: 100px;
}
.big_text{
    flex-wrap: wrap;
}
.partition2{
    
    flex-grow:1;
}
.boxs{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-self: center;
    
}
h3{
    font-size: 28px;
    text-align: center;
}

.border_logistics, .domestic_logistics, .supply_chain_solution,.financial_services,.trade_solutions{
    display: flex;
    
    align-items: flex-start;
    margin-right: 50px;
    margin-bottom: 30px;
    flex-wrap: wrap;
    margin-left: 100px;
}
.one_item{
    display:flex;

}

.box{
    
    
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items:center;
    width: 160px !important;
    height: 160px;
    margin: 10px; 
    border-radius: 10px;
    box-shadow: 0 1px 6px rgba(169,188,218,.65);
    text-align: center;
    border: 1.5px solid transparent;
    
}

.boxs :hover{
    border:1px solid #ee3425;
    cursor: pointer;
}
.box :hover{
    border: none;
}
.reduce_size{
    margin-bottom: 10px;
    margin-top: 4px;
}
.box img{
    width:80px;
    height:80px ;
}
.text{
    margin-right: 50px;
    flex-wrap: wrap;
}
h4{
    font-size: 24px;
    width: 300px;
    margin-right: 50px;
}
h5{
    font-size: 16px;
}
.red{
    color:#ee3425;
    font-size: 14px;
    font-weight: bold;
}
body{
    font-family: sans-serif;
}
.menu{
    color:#fbdc00;
}
.hide{
   visibility: hidden;
}
.english{
    
    color: #ee3425;
    font-weight: bold;
    cursor: pointer;
}
@media only screen and (max-width: 750px) {
    html,body{
        width: 100%;
        height: 100%;
       overflow-x: hidden;
        
    }
    
    .box img{
        width:60px;
        height:60px ;
    }
    .close_button{
        margin-left: 20px;
    }
    .alert_image{
        height: 25px;
        width:25px;
        margin-right: 16px;
    }

    .menu{
        color:black;
        font-weight: bold;
    }
    .elements{
        display: none;
    }
    .login{
        display: none;
    }
    .name{
        margin-left: 0px;
    }
    .display{
        flex-direction: column;
        padding-left:10px;
       
    }
    .image{
        order:1;
    }
    .intro{
        order:2;
    }
    .num{
        order:3;
    }
    .video{
        height:auto;
        width: auto;
        object-fit:fill;
    }
    h1{
        font-size: 24px;
    }
    .cogo_number{
        margin-right: 20px;
        margin-bottom: 20px;
        align-items: center;
        justify-content: space-between;
    }
    .cogo_numbers{
        margin-bottom: 10px !important;
    }
    .big_size{
        font-size: 24px;
    }
    .our_products{
        margin-top: 50px !important;
        padding-left: 10px;
    }
    .supply_chain{
        padding-left: 10px;
        padding-right: 10px;
        display: flex;
        flex-direction: column;
    }
    .partition2{
        order:1;
    }
    .partition1{
        order:2;
        margin-right: 10px;
        margin-bottom: 10px;
    }
    h2{
        font-size: 24px;
    }
    h3{
        font-size: 20px;
        text-align: start;
    }
    h4{
        font-size: 16px;
        text-align: start;
        padding-right: 300px;
    }
    .border_logistics, .domestic_logistics, .supply_chain_solution,.financial_services,.trade_solutions{
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        flex-wrap: wrap;
       
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .box{
        width:140px !important;
        height:140px !important;
        margin:14px;
    }
    .trust{
        text-align: center;
    }
    .get_ready{
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .working_bar{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .cargo{
        margin-right: 0px;
        margin-bottom: 20px;
    }
    
    .stage{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .steps_image{
        order:1;
        
    }
    .steps{
        background-color: white;
        margin-bottom: 10px;
        width: 80%;
        margin-left: 50px;
        margin-right: 50px;
        padding: 10px;
    }
    .stage_image{
        width:280px !important;
        height:160px !important;
        margin-top: 20px;
    }
    .steps_one_two{
        order:2;
    }
    .steps_three_four{
        order: 3;
        
    }
    .get_started{
        flex-direction: column;
    }
    .get_image{
        order:1;
        align-self: center;
    }
    .get_started_text{
        order:2;
        padding: 0%;
        margin: 0px;
    }
    .small_font{
        font-size: 14px;
        margin-bottom: 10px;
    }
    .get_started_button{
        width: 100%;
    }
    .homepage_video{
        height:350px;
        width:100%;
        object-fit: fill;
        cursor: pointer;
        
    }
    
    .play_button{
        bottom:210px;
    }
    .bar{
        align-items:flex-start;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        margin-bottom: 30px;
       
    }
    .bar_text{
        margin-left: 10px;
    }
    .know_more_button{
        margin-left: 10px;
        margin-top: 30px;
        align-self: flex-start;
        justify-content: flex-start;
    }
    .video_homepage{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: auto;
        cursor: pointer;
        
    }
    .blogs{
        flex-direction: column;
    }
    .blog{
        width:90%;
        align-self: center;
        margin-bottom: 40px;
    }
    .blogs_heading{
        text-align: center;
        margin-bottom: 20px;
    }
    .subscribe_image{
        display: none;
    }
    .subscribe_text{
        align-items: center;
        justify-content: center;
    }
    .subscribe{
        margin-top: 20px;
    }
    .services{
        flex-direction: column;
        height: auto;
        padding-left: 20px;

    }
    .property{
        display: none;
    }
    .hide{
        visibility: visible;
        color:black;
    }
    u{
        text-decoration: none;
    }
    .copyright{
        flex-direction: column;
    }
    .english{
        order: 1;
        margin-bottom: 20px;
    }
    .terms_and_conditions{
        display: none;
    }
    .cogo{
        order:2;
    }
    .boxs{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        
        align-items: center;
        padding-right: 80px;
    }
    .industries_served{
        margin-left: 10px;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 80px;
    }
    .industries_served img{
        margin-right:40px;
        margin-left: 10px;
    }
    .margin{
        margin-left: 10px;
    }
    .image video{
        width:100%;
        overflow-x: hidden;
        height: auto;
        
    }
    .product_logistics{
        padding-left: 10px;
    }
    .video{
        display: none;
    }
    .video_mobile{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .partition2{
        align-self: center;
    }
    .increase_margin{
        margin-left:10px;
    }
    
}

